#carouselExampleControls {
    width: auto;
}

.shopnowbtn {
    width: 175px;
    height: 60px;
    border-radius: 30px;
    border-color: transparent;
}

.shopnowbtn h4 {
    color: black;
    font-size: 20px;
    font-weight: 800;
}

.shopbtn{
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #FBFBFB;
    font-weight: 700;
    font-size: 18px;
    color: black;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    #imageslider{
        padding-top: 20px;
    }
}