  
        .Conatctheader h4 {
            color: rgba(56, 43, 40, 1);
            font-weight: 700;
            text-align: center;
            font-size: 50px;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .img img{
            width:1000px
        }
        #desklop{
            display: block;
        }
@media only screen and (max-width: 600px) {
  
        .Conatctheader h4 {
            color: rgba(56, 43, 40, 1);
            font-weight: 700;
            text-align: center;
            font-size: 30px;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        
        .img img{
            width:350px
        }
        #desklop{
            display: none;
        }
        
  }

