.whyus{
    color:rgba(56, 43, 40, 1);
    font-weight:800;
    text-align: center;
    font-size: 50px;
    padding-top:40px ;
    padding-bottom:40px ;
}

.divone{
  background-color:white;padding-left:40px;
}

.subtext{
    color:black;
    font-size:25px ;
    font-style: bolder;  
}

.card500{
background-color: white !important;
}

.whyusblock{
    display:flex;
    background-color:white;
}

.whitediv{
   width:50%;background-color:white;
}

.videodiv{
width:750px;
display: block;
}

@media only screen and (max-width: 600px) {
    .whyus {
        font-size: 25px;
    }
    .subtext{
        color:black;
        font-size:20px ;
        font-style: bolder;  
    }

    .whyusblock{
        display:inline;
        background-color:white;
    
    }
    .divone{
        background-color:white;padding-left:20px;
        padding-top: 40px;
        padding-bottom: 40px;
       
      }

      .whitediv{
        width:100%;background-color:white;
     }
     .videodiv{
        display: none;
        }

}