#mobilefott{
    display:none
}


  .bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bloc-icon img {
    width: 30px;
  }

    .btn{
        background-color:rgba(191, 191, 191, 1);
        border-color:transparent;
       font-size:12px;
       color:black;
       border-radius:20px;
    }
@media only screen and (max-width: 600px) {
  
    #mobilefott {
       
        display: flex;
        margin-top: 100px;
        }
        .btnFooter{
            background-color:rgba(191, 191, 191, 1);
            border-color:transparent;
           font-size:12px;
           color:black;
           border-radius:20px;
           margin-top: 10px;
           
        
        }
        .mobile-nav {
            border-radius: 30px;
            padding: 10px;
             position: fixed;
             bottom: 0;
             height: 80px;
             width: 100%;
             display: flex;
             justify-content: space-around;
             background: #FFFEFA;
         box-shadow: 0px 9px 22px rgba(0, 0, 0, 0.15);
           }
        .btnFooter:hover{
            background-color:#F3CA6D;
           
        }


    
}