.MediaDEalcard{
    display: none;
}

@media only screen and (max-width: 600px) {
    .MediaDEalcard{
        display: block;
    }
    .PRoductimg img{
        height: 300px;
        
    }
}

@media only screen and (max-width: 300px) {
    .PRoductimg img{
        height: 300px;
        width:200px
        
    }
}